@using  System.Data
@using StudentDemo.Areas.MST_Branch.Models;
@model MST_Branch_ViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<div class="row" >
    <form asp-controller="MST_Branch" asp-action="Search" class="row g-3">
        <div class="col-3">
            <input type="text" asp-for="@Model.SearchModel.BranchName" class="form-control" placeholder="Branch Name">
        </div>

        <div class="col-3">
            <input type="text" asp-for="@Model.SearchModel.BranchCode" class="form-control" placeholder="Branch Code">
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Search</button>
            <a asp-area="MST_Branch" asp-controller="MST_Branch" asp-action="Index" class="btn btn-danger">
                Clear
            </a>
        </div>
    </form>
</div>*@
<div class="card shadow border-0 mt-4" style="overflow:auto">
    <div class="card-header  ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class=" text-black py-2">Branch List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <form asp-controller="MST_Branch" asp-action="Search" class="row g-3">
                <div class="col-3">
                    <input type="text" asp-for="@Model.SearchModel.BranchName" class="form-control" placeholder="Branch Name">
                </div>

                <div class="col-3">
                    <input type="text" asp-for="@Model.SearchModel.BranchCode" class="form-control" placeholder="Branch Code">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">Search</button>
                    <a asp-area="MST_Branch" asp-controller="MST_Branch" asp-action="Index" class="btn btn-danger">
                        Clear
                    </a>
                </div>
            </form>
        </div>
        <div class="row pb-3">
            <div class="col-12 text-end">
                <a asp-controller="MST_Branch" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Add Branch
                </a>
            </div>
        </div>
    </div>
    <table class="table table-hover">
        <tr>
        <thead>
        
        <th>
            Branch Name
        </th>
        <th>
            Branch Code
        </th>

        <th>
            Created
        </th>
        <th>
            Modified
        </th>
        <th>

        </th>
        </thead>


        <tbody id="Sample_2">
                @foreach (DataRow dr in Model.BranchDataTable.Rows)
                {
                <tr>
                    <td>@dr["BranchName"]</td>
                    <td>@dr["BranchCode"]</td>
                    <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yy")</td>
                    <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yy")</td>
                        
                    <td>
                        <div class="w-75 btn-group" role="group">

                            <a asp-area="MST_Branch" asp-controller="MST_Branch" asp-action="Delete" asp-route-BranchID="@dr["BranchID"]" class="btn btn-danger mx-2" onclick="fun1()">
                                <i class="bi bi-trash-fill"></i> 
                            </a>

                            <a asp-area="MST_Branch" asp-controller="MST_Branch" asp-action="Create" asp-route-BranchID="@dr["BranchID"]" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> 
                            </a>


                        </div>
                    </td>
                </tr>

                }
        </tbody>
        </tr>
    </table>
</div>


</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#Sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#Sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}

