@using System.Data
@using StudentDemo.Areas.MST_Student.Models;
@model MST_Student_ViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
<div class="row">
    <form asp-controller="MST_Student" asp-action="Search" class="row g-3">
        <div class="col-3">
            <select class="form-control border-1"  asp-for="@Model.SearchModel.BranchID" asp-items="@(new SelectList(ViewBag.BranchList,"BranchID","BranchName"))">

                <option value="">Select Branch</option>
            </select>
        </div>
        <div class="col-3">
            <select class="form-control border-1" id="StateID" asp-for="@Model.SearchModel.CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))">
                <option value="">Select City</option>
            </select>
        </div>
        <div class="col-3">
            <input type="text" asp-for="@Model.SearchModel.StudentName" class="form-control" placeholder="Student Name">
        </div>

        <div class="col-3">
            <input type="text" asp-for="@Model.SearchModel.Gender" class="form-control" placeholder="Gender">
        </div>
        <div class="col-3">
            <input type="text" asp-for="@Model.SearchModel.IsActive" class="form-control" placeholder="ISActive">
        </div>
        <div class="col-3">
            <input type="text" asp-for="@Model.SearchModel.Age" class="form-control" placeholder="Age">
        </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary">Search</button>
            <a asp-area="MST_Student" asp-controller="MST_Student" asp-action="Index" class="btn btn-danger">
                Clear
            </a>
        </div>
    </form>
</div>
<div class="card shadow border-0 mt-4" style="overflow: auto">
    <div class="card-header  ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class=" text-black py-2">Student List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-3">
                <div class="input-group">
                    <input id="Sample_1" type="search" placeholder="Search Student" class="form-control" />
                    
                </div>

            </div>
            <div class="col-9 text-end">
                <a asp-controller="MST_Student" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Add Student
                </a>
            </div>
        </div>
    </div>
    <!-- Assuming modelMST_Student is passed to the view -->
    

    <table class="table table-hover">
        <tr>
        <thead>
        
        <th>StudentName</th>
        
        <th>BranchName</th>
        
        <th>CityName</th>
        <th>MobileNoStudent</th>
        <th>MobileNoFather</th>
        <th>Email</th>
        <th>Address</th>
        <th>BirthDate</th>
        <th>Age</th>
        <th>ISActive</th>
        <th>Gender</th>
        @* <th>Image</th> *@
        <th>Created</th>
        <th>Modified</th>
        <th></th>
        </thead>


        <tbody id="Sample_2">
                @foreach (DataRow dr in Model.StudentDataTable.Rows)
                {
                <tr>
                    
                    <td>@dr["StudentName"]</td>
                    
                    <td>@dr["BranchName"]</td>
                    
                    <td>@dr["CityName"]</td>
                    <td>@dr["MobileNoStudent"]</td>
                    <td>@dr["MobileNoFather"]</td>
                    <td>@dr["Email"]</td>
                    <td>@dr["Address"]</td>
                    <td>@Convert.ToDateTime(dr["BirthDate"]).ToString("dd-MM-yy")</td>
                    <td>@dr["Age"]</td>
                    <td>@dr["ISActive"]</td>
                    <td>@dr["Gender"]</td>
                    @* <td><img src="@Url.Content(Convert.ToString(dr["PhotoPath"]))" class="my-3" alt="Profile" height="250"  width="250"></td> *@
                    <td>@Convert.ToDateTime(dr["Created"]).ToString("dd-MM-yy")</td>
                    <td>@Convert.ToDateTime(dr["Modified"]).ToString("dd-MM-yy")</td>
                    
                    
                    <td>
                        <div class="w-75 btn-group" role="group">

                            <a asp-area="MST_Student" asp-controller="MST_Student" asp-action="Delete" asp-route-StudentID="@dr["StudentID"]" class="btn btn-danger mx-2" onclick="fun1()">
                                <i class="bi bi-trash-fill"></i> 
                            </a>

                            <a asp-area="MST_Student" asp-controller="MST_Student" asp-action="Create" asp-route-StudentID="@dr["StudentID"]" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> 
                            </a>

                        </div>
                    </td>
                </tr>

                }
        </tbody>
        </tr>
    </table>
</div>


</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#Sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#Sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
        function fun1() {
            if (confirm("Are you sure you want to delete?")) {
                return true;
            }
            else {
                return false;
            }
        }
    </script>
}

